<h1>Search Result</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">License number</th>
      <th scope="col">Gender</th>
      <th scope="col">License type</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Languages</th>
      <th scope="col">Cid</th>
      <th scope="col">License expriy date</th>
      <th scope="col">Contact number</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
<% @search.search_guides.each do |guide| %>
     <tr>
        <td><%= guide.name %></td>
        <td><%= guide.license_number%></td>
        <td><%= guide.gender %></td>
        <td><%= guide.license_type %></td>
        <td><%= guide.date_of_birth %></td>
        <td><%= guide.languages.map &:name %>
        <td><%= guide.cid %></td>
        <td><%= guide.license_expiry_date %></td>
        <td><%= guide.contact_number %></td>
        <td><%= guide.email %></td>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", guides_path%>
