<%= form_with(model: guide, local: true) do |form| %>
  <% if guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :license %>
    <%= form.text_area :license %>
  </div>

  <div class="field">
    <b>Gender</b><br/>
    <%= form.radio_button :gender, 'Male' %> Male<br />
    <%= form.radio_button :gender, 'Female' %> Female<br />

  </div>

  <div class="field">
    <%= form.label :license_type %>
    <%= form.text_area :license_type %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div class="field">
    <b>Languages</b><br/>
    <%= form.collection_check_boxes :language_ids, Language.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= form.label :cid %>
    <%= form.text_area :cid %>
  </div>

 <div class="field">
    <%= form.label :license_expiry_date %>
    <%= form.text_area :license_expiry_date %>
  </div>
 <div class="field">
    <%= form.label :contact_number %>
    <%= form.text_area :contact_number %>
  </div>

 <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
