<p id="notice"><%= notice %></p>

<h1>Guides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>License</th>
      <th>Gender</th>
      <th>Guide type</th>
      <th>Date of birth</th>
      <th>Languages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.name %></td>
        <td><%= guide.license %></td>
        <td><%= guide.gender %></td>
        <td><%= guide.guide_type %></td>
        <td><%= guide.date_of_birth %></td>
        <td><%= guide.languages.map &:name %></td>
        <td><%= link_to 'Show', guide %></td>
        <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
        <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guide', new_guide_path %>
