<h1>Guides List</h1>

<div class="row">
  <div class="col-sm-4 col-md-offset-4">
<%= form_tag guides_path, :method => 'get' do %>
  
    <%= label_tag :name %>
    <%= text_field_tag :name, params[:name] %><br />

    <%= label_tag :gender %>
    <%= select_tag :gender, options_for_select(['', 'Male', 'Female'], params[:gender]) %><br /> 

  <%= submit_tag "Search" %>
<% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">License number</th>
      <th scope="col">Gender</th>
      <th scope="col">License type</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Languages</th>
      <th scope="col">Cid</th>
      <th scope="col">License expriy date</th>
      <th scope="col">Contact number</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.name %></td>
        <td><%= guide.license_number%></td>
        <td><%= guide.gender %></td>
        <td><%= guide.license_type %></td>
        <td><%= guide.date_of_birth %></td>
        <td><%= guide.languages.map(&:name).join(", ") %>
        <td><%= guide.cid %></td>
        <td><%= guide.license_expiry_date %></td>
        <td><%= guide.contact_number %></td>
        <td><%= guide.email %></td>
        </td>
        <td><%= link_to 'Show', guide %></td>
        <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
        <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guide', new_guide_path %>
