<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guide.name %>
</p>

<p>
  <strong>License:</strong>
  <%= @guide.license %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @guide.gender %>
</p>

<p>
  <strong>Guide type:</strong>
  <%= @guide.guide_type %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @guide.date_of_birth %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @guide.languages %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
